<h1>feed</h1>

<form action="/posts/<%= @pageuser.id %>" method="post">
  <label>Write something...</label><br>
  <textarea class="post-content" name="content" rows="10" cols="50" maxlength="150" onkeyup="calcChars(this)"></textarea>
  <br>
  <div><span class="postcount">150</span> Characters left</div>
  <input type="submit" value="Share">
</form>

See the posts:
<% for i in 1..10 do %>
  <div class="post-box">
      <br>
    <p><%= @posts.find_by_id(i).content %> </p>
      <br>
      <p>
        <small>
          Posted by: <a href="/profile/<%=User.find_by_id(@posts.find_by_id(i).user_id).id%>"><%= User.find_by_id(@posts.find_by_id(i).user_id).username %></a>
        </small>
      </p>
      <p>
        <small>
          <em>
            Posted on: <%= (@posts.find_by_id(i).created_at).localtime.strftime("%B %d, %Y %I:%M:%S %p") %>
          </em>
        </small>
      </p>
      <% if @pageuser.id == @posts.find_by_id(i).user_id %>
        <small><a href="/postsedit/<%=@posts.find_by_id(i).id%>">Edit</a></small>
      <% end %>
  </div>
<% end %>
